default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5
# when using dockerized dev environment
# host: postgres
# username: postgres
# password:

development:
  <<: *default
  database: rug_development

test:
  <<: *default
  database: rug_test

production:
  <<: *default
  database: rug_production
  username: postgres
  password: 
